<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yunus.remember">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.chief.MainActivity" />
        <activity
            android:name=".activity.begin.LoginActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.begin.RegisterActivity" />
        <activity android:name=".activity.begin.PasswordActivity" />
        <activity android:name=".activity.chief.SearchActivity" />
        <activity android:name=".activity.home.TestActivity" />
        <activity android:name=".activity.home.DetailActivity" />
        <activity android:name=".activity.home.SummaryActivity" />
        <activity android:name=".activity.ranking.RankingActivity" />
        <activity android:name=".activity.home.CalendarActivity" />
        <activity android:name=".activity.home.DiaryActivity" />
        <activity android:name=".activity.home.DiariesActivity"></activity>
    </application>

</manifest>